{{!< default}}

<div class="hz-wrapper">
	<div class="hz-frame site-cover">
		{{#if @site.cover_image}}
			<div class="site-cover__logo">
				<img src="{{@site.cover_image}}" alt="site logo">
			</div>

			<style>
				.site-cover__title {
					color: #fff;
				}
				.site-cover__description {
					color: rgb(208, 208, 208);
				}
				.arrow {
					border-color: #fff;
				}
				.scroll-to-more {
					color: rgb(208, 208, 208);
				}
			</style>
		{{else}}
			<style>
				.site-cover__title {
					color: #000;
				}
				.site-cover__description {
					color: rgb(39, 39, 39);
				}
				.arrow {
					border-color: #000;
				}
				.scroll-to-more {
					color: #000
				}
			</style>
		{{/if}}
		<div class="site-cover__text">
				<h1 class="site-cover__title">{{@site.title}}</h1>
				<p class="site-cover__description">{{@site.description}}</p>
			</div>
		<div class="arrow"></div>
		<span class="scroll-to-more">Scroll down to see more...</span>
	
	</div>
	<div class="hz-frame hz-featured-post">
		{{#get "posts" include="tags, authors" filter="featured:true" limit="1"}}
			{{#foreach posts}}
				{{#if feature_image}}
					<div class="hz-featured-post__img">
						<img src="{{feature_image}}" alt="post image">
					</div>
				{{else}}
					<div class="hz-featured-post__img">
						<img src="/woocommerce-placeholder-1170x1170.png" alt="post image">
					</div>
				{{/if}}
					<div class="hz-featured-post__text">
						<div class="hz-featured-post__tags-author-date">
							<div class="hz-featured-post__tags">{{tags}}</div>
							<span class="bull">&bull;</span>
							<div class="hz-featured-post__date">{{date}}</div>
							<span class="bull">&bull;</span>
							<div class="hz-featured-post__author">{{authors}}</div>
						</div>
						<div class="hz-featured-post__title">{{title}}</div>
						<div class="hz-featured-post__content">{{content}}</div>
						
						<div class="hz-featured-post__buttons">
							<a href="{{url}}" class="hz-featured-post__button">Read this post</a>
							<a href="#" class="hz-featured-post__button">See all featured posts</a>
						</div>
					</div>
					
			{{/foreach}}
		{{/get}}
	</div>
	<div class="hz-frame" style="background: blue;">Three</div>
	<div class="hz-frame" style="background: yellow;">Four</div>
	<div class="hz-frame" style="background: violet;">Five</div>
	<div class="hz-frame" style="background: brown;">Six</div>
</div>





